{% extends "layout.html" %}

{% block title %}
    Buying
{% endblock %}

{% block main %}
    <h3>Account Balance: {{ cash }}</h3>
    <hr>
    <form action="/buy" method="post">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Ticker symbol" type="text">
        <input autocomplete="off" class="form-control" name="shares" placeholder="Number of shares" type="integer">
        <button class="btn btn-primary" type="submit">BUY NOW?!?!?</button>
    </form>
    <hr>
    <table class="display" id="table" style="width:100%">
        <thead><h4>Your Recent Price Quotes</h4>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in quoteList %}
            <tr>
                {% for value in quote %}
                <td>{{ quote[value] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}
