{% extends "layout.html" %}

{% block title %}
    Selling
{% endblock %}

{% block main %}
    <h3>Account Balance: {{ cash }}</h3>
    <hr>
    <form action="/sell" method="post">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Ticker symbol" type="text">
        <input autocomplete="off" class="form-control" name="shares" placeholder="Number of shares" type="integer">
        <button class="btn btn-primary" type="submit">SELL NOW?!?!?</button>
    </form>
    <hr>
    <table class="display" id="table" style="width:100%">
        <thead><h4>Your Portfolio</h4>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Holding</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in folio %}
            <tr>
                {% for value in holding %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
    <hr>
    <h3>Total Value of Assets: {{ assets }}</h3>
{% endblock %}
